<%- include('partials/header', { title: 'About | Shivang Portfolio' }) %>
  <h1>About Me</h1>
  <p>I’m a beginner web developer learning Node.js, Express, and EJS.</p>
  <p>This portfolio is part of my Assignment 2 submission.</p>
<%- include('partials/footer') %>
