<%- include('partials/header', { title: 'Home | Shivang Portfolio' }) %>
  <h1 class="mb-3">Hi, I’m Shivang 👋</h1>
  <p class="lead">Newbie web developer learning Express + EJS.</p>
  <a class="btn btn-primary" href="/projects">See my Projects</a>
<%- include('partials/footer') %>
